.container-education{
    display: flex;
    align-items: center;
    justify-content: center;    
}
.education{
    background-color: #8d9ddd;
    border-radius: 15px;
    max-width: 50%;
    align-items: center;
    justify-content: center;
    margin:20px;
    padding:10px;
} 
.education:hover{
    color:rgb(255, 255, 255);
    box-shadow: 0 4px 16px rgb(255, 255, 255);
    transition: all 0.2s ease;
}