.container-experience{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.experience{
    background-color: rgba(0, 51, 95, 0.241);
    border-radius: 15px;
    max-width: 50%;
    align-items: center;
    justify-content: center;
    margin:20px;
    padding:4px;
} 
.experience:hover{
    color:rgba(49, 138, 172, 1);
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
}